// Same as cube, but any implemented card is playable.
Format(
    name: "Two-Player",
    players: (min: 2, max: 2),
    starting_life: 20,
    starting_hand: 7,
    mulligan: London(free_first: false),
    deck: Deck(size: Range(40, 60), singleton: false, includes_commander: false, max_copies: Some(4)),
    rules: [],
    legality: Legality(pool: All, banned: [], allowed: []),
)
